* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    height: 200%;
}
body, .container {
    height: 100%;
    font-size: 10px;
}
.container {
    width: 90%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
header {
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    background-image: url(../assets/header.jpg);
    background-size: cover;
}
.porky-wrapper {
    background-image: url(../assets/icon-piggy-bank.png);
    background-size: cover;
    width: 250px;
    height: 250px;
}
header>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 30px;
    color: white;
    font-size: 2em;
}
.header-button button {
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
    background-color: white;
}
header>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    height: 75%;
    font-size: 2.2em;
}
nav {
    height: 20%;
    display: flex;
    justify-content: space-around;
    padding: 50px 20%;
}
.coats-wrapper {
    height: 50%;
}
.categories-wrapper {
    height: 30%;
}
.categories-container {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
}
.categories-container div {
    width: 20%;
    height: 45%;
    background-color: lightgrey;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    padding-left: 5%;
}
.coats-wrapper {
    display: flex;
    justify-content: flex-start;
}
.single-coat-wrapper {
    margin-right: 50px;
    height: 100%;
    width: 25%;
}
.coat-image-wrapper {
    height: 85%;
    background-image: url(../assets/coats/coat-1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}
.name-and-price-wrapper {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    display: none;
}
.overlay-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-wrapper {
    width: 400px;
    height: 600px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
.item-image-wrapper {
    height: 30%;
    background-image: url(../assets/coats/coat-1.jpg);
    background-size: contain;
    background-position: center;
    
}
.item-name-wrapper {
    font-size: 1.7em;
    font-weight: 600;
}
.item-details-wrapper {
    height: 70%;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 1.5em;
    padding: 20px 10px;
}
.item-price-wrapper {
    color: grey;
}
.item-size-wrapper>div {
    display: flex;
    justify-content: flex-start;
}
.item-size-wrapper>div span {
    margin-right: 20px;
    border: 1px solid grey;
    padding: 5px;
}
.item-buttons-wrapper {
    display: flex;
    justify-content: space-around;
}
.item-buttons-wrapper button {
    border-radius: 30px;
    background-color: lightgrey;
    border: 0;
    padding: 5px 10px;
}
.item-composition-and-country-wrapper {
    display: flex;
    justify-content: space-between;
}
.item-add-to-cart-wrapper {
    display: flex;
    justify-content: center;
}
.item-add-to-cart-wrapper button {
    border-radius: 30px;
    padding: 10px 100px;
    border: 0;
    background-color: rgb(31, 30, 30);
    color: white;
}
